body {
    background-color: antiquewhite;
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
}

h1, h4 {
    text-align: center;
}
.container {
    /* background-color: cyan; */
    margin: 20px;;
    background-color: rgb(228, 228, 228);
    margin: 15px;
    padding: 10px;
}
.caption {
    display:flex;
    justify-content: center;
}
.nestle {
    display:flex;
    justify-content: center;
    flex-flow: column;
}
.henri {
  max-width:400px;
  max-height:300px;
  padding: 5px;
  background-color: white;
}
figure {
    border: thin black solid;
}
figcaption {
    background-color: rgb(255, 255, 255);
    text-align: center;
    max-width:405px;
    max-height:300px;
    padding:8px;
    color: blue;
    font-weight: bold;
}

span {
    font-weight: bold;
    color:black;
}
.list {
    text-align: center;
    list-style-type: none;
}

a {
    text-decoration: none;
}
